.plugin-free-sync.configuration-dialog {
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &.form-control {
    .input-label-with-error {
      display: flex;
      justify-content: space-between;
    }

    .checkbox {
      display: flex;
      gap: 4px;
      align-items: center;
      color: var(--hl);

      input[type=checkbox] {
        float: unset;
        display: initial;
        margin: 0;
        margin-left: var(--padding-sm);
      }
    }

    .checkboxes {
      display: flex;
      gap: 10px;
    }
  }

  .error-message {
    color: #ff8b00;
    padding: 0;

    &.hide {
      display: none;
    }
  }

  .models-title {
    margin: 20px 0 10px;
  }

  .models-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    label {
      width: 47%;
      display: flex;
      align-items: center;
      margin: 0;

      input {
        margin-top: 2px;
      }
    }
  }
}

// override insomnia parent styles
.modal:has(.plugin-free-sync.configuration-dialog) {
  &.modal--skinny .modal__content__wrapper {
    width: 500px;
  }

  .modal__content {
    padding-bottom: 20px;
  }
}
